/* Import font from https://fonts.google.com/specimen/Nunito+Sans */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800');

:root {
    --very-light-gray: hsl(0, 0%, 98%);
}

body {
    background-color: var(--very-light-gray);
    font-family: 'Nunito Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--very-light-gray);
}

.mode-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 30px;
    margin: auto 0;
}

.mode-toggle img {
    padding: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 4%;
    /* Make element always visible */
    
}

.search {
    display: flex;
    background-color: white;
    border-radius: 5px;
    width: 400px;
    /* Add shadow around */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    align-items: center;
}

.search img {
    height: 20px;
    padding-left: 20px;
}

input {
    background-color: transparent;
    border: none;
    padding: 15px;
    width: 100%;
}

input:focus-visible, select:focus-visible {
    outline: none;
}

select {
    background-color: white;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    width: 175px;
    padding: 0 10px;
    border-right: 5px solid transparent;
    cursor: pointer;
}

select * {
    padding: 10px;
}

main {
    padding: 0 4%;
}

.cards-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px 40px;
}

.country-card {
    background-color: white;
    width: 300px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.country-card img {
    width: 100%;
    max-height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.country-card-info {
    padding: 0px 20px 10px;
}

.country-card-info p {
    margin: 5px;
}

strong {
    font-weight: 600;
}