/* Import font from https://fonts.google.com/specimen/Nunito+Sans */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800');

:root {
    --very-light-gray: hsl(0, 0%, 98%);
}

body {
    background-color: var(--very-light-gray);
    font-family: 'Nunito Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.mode-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 30px;
    margin: auto 0;
}

.mode-toggle img {
    padding: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 4%;
}

.search {
    display: flex;
    background-color: white;
    border-radius: 5px;
    width: 400px;
    /* Add shadow around */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    align-items: center;
}

.search img {
    height: 20px;
    padding-left: 20px;
}

input {
    background-color: transparent;
    border: none;
    padding: 15px;
    width: 100%;
}

input:focus-visible, select:focus-visible {
    outline: none;
}

select {
    background-color: white;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    width: 175px;
    padding: 0 10px;
    border-right: 5px solid transparent;
}

select * {
    padding: 10px;
}